$card-spaces: 10px;
$search-button-width: 40px;
$main-font: 'Playfair Display', serif;
$main-text-color: #3d3d3d;
$secundary-text-color: #020411;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.weather-container {
    width: 100%;
    height: auto;
    position: relative;
    transform: translate(-50%, 0%);
    top: 0px;
    left: 50%;
    padding: 35px 0px 0px 0px;
    background-color: transparent;
}

.current-weather {
    width: 100%;
    height: auto;
    position: relative;
    transform: translate(-50%, 0px);
    top: 0px;
    left: 50%;
    border-radius: 10px;
    margin: 30px 0px 30px 0px;
    padding: 25px 0px 25px 0px;
    background-color: rgba(255, 255, 255, 0.5);

    .weather-target-city {
        width: 100%;
        font-family: $main-font;
        line-height: 45px;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        color: $main-text-color;
    }
    
    .weather-target-country {
        width: 100%;
        margin-top: $card-spaces;
        font-family: $main-font;
        line-height: 20px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: $main-text-color;
    }

    &__main-temp {
        width: 90%;
        height: auto;
        position: relative;
        transform: translate(-50%, 0px);
        top: 0px;
        left: 50%;
        margin: 15px 0px;

        h1 {
            width: 90%;
            position: relative;
            transform: translateX(-48%);
            left: 50%;
            margin-top: 20px;
            font-family: $main-font;
            line-height: 250px;
            font-size: 220px;
            font-weight: 700;
            text-align: center;
            color: $secundary-text-color;
        }

        h3 {
            width: 100%;
            position: relative;
            margin-top: 10px;
            font-family: $main-font;
            line-height: 45px;
            font-size: 40px;
            font-weight: 500;
            text-align: center;
            color: $main-text-color;
        }

        h2 {
            width: 100%;
            position: relative;
            margin-top: 35px;
            font-family: $main-font;
            line-height: 32px;
            font-size: 30px;
            font-weight: 400;
            text-align: center;
            color: $main-text-color;
        }
    }
}

// @media screen and (max-width: 500px) {
//     .current-weather {
//         width: 100%;
//     }
    
// }

@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) or (-webkit-backdrop-filter: blur()) {
    .current-weather {
        background: transparent;
        backdrop-filter: blur(20px);
        background-color: rgba($color: rgb(240, 240, 240), $alpha: 0.4);
        box-shadow: inset 10px 10px 180px 20px rgba(255, 255, 255, 0.8);
    }
}